*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 4, 4, 0.7), rgba(30, 4, 4, 0.7)), url(images/public-speaking.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.notHomeHeader {
    min-height: 10vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 4, 4, 0.7), rgba(30, 4, 4, 0.7)), url(images/TEDx_talks_1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex:1 ;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size:13px;
    /* one missing */
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid rgb(199, 20, 154);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    left: 600px;
    top: 30px;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #fff;
    background: #f44336;
    transition: 1s;
}
.hero-btn1:hover{
    border: 1px solid #fff;
    background: solid rgb(199, 20, 154);
    transition: 1s;
}


nav .fa{
    display: none;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* section of sample speeches in home */
.sample p{
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
}
.sample h1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.sample img{
    width: 450px;
    display: block;
    position:relative;
    left: 900px;
    bottom: 250px;
    /* float:inline-start */
}
.About h1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.About p{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
/* 
.AboutUs img{
    width: 450px;
    display: block;
    position:relative;
    left: 900px;
    bottom: 250px;
} */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-heart-o {
    color: #f44336;
}

.About img{
    left: 100px;
    top: 100px;
}